// Variables

$brand-gray: #cccccc;
$brand-bg: #f2f2f2;
$brand-bg-active: #ffe9b5;
$border-default: 1px solid $brand-gray;

// Global styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

// Scrollbar

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Main styles

.select {
  position: relative;
  padding-top: 3rem;
  width: 350px;
  margin: 0 auto;

  &.active {

    .select__body {
      display: block;
    }

    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    border: $border-default;

    .fa-chevron-down {
      transition: all .15s ease-in;
      transform: rotate(0);
    }
  }

  &__current {
    font-size: 18px;
    line-height: (24/18);
  }

  &__body {
    display: none;
    position: absolute;
    height: 200px;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  &__item {
    padding: 0.5rem;
    border: $border-default;
    border-top: none;
    line-height: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all .15s ease-in-out;

    &:hover {
      background-color: $brand-bg-active;
    }
  }
}